header{
    width: 960px;
    height: auto;
}

#logo{
    width: 250px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

li a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
}

#banner{
    width: 960px;
}

body{
    background-color: white;
}

main{
    background-color: white;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.grid-container{
    float: left;
}

#cont1{
    background-color: white;


}

#cont2{
    background-color: #DBC9DF;


}

#cont3{
    background-color: #782A7E;


}

footer{
    background-color: #363636;
    height: 100px;
    width: 960px;
}

li p{
    text-align: center;
}